{% extends 'blog/base.html' %} {% load static %} {% block content %}
<div class="col-sm-12">
  <h3 class="text-white my-5">About Page</h3>
  <p class="lead text-white my-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque fuga
    consequuntur, laudantium culpa sapiente cumque, rerum recusandae enim magnam
    beatae reiciendis consectetur deleniti veritatis. Culpa nihil repellendus
    qui maxime quia modi commodi odio ipsam accusamus inventore natus a amet
    dolor, ex consequatur saepe facere suscipit optio, molestiae vel quaerat
    esse nesciunt. Aut odit eveniet quae, in facere ratione dignissimos voluptas
    laudantium, assumenda natus, laboriosam dicta pariatur autem animi beatae!
    Facilis sequi ut eos esse impedit eum inventore incidunt, qui blanditiis
    deserunt nemo pariatur itaque, laboriosam doloremque accusamus laudantium
    delectus? Illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Hic debitis expedita unde quod fugit, impedit aut. Nostrum harum expedita
    recusandae, ea, incidunt tempora assumenda unde ad, corrupti voluptas quos
    voluptatum quasi dolore vitae est aspernatur! Dicta ex libero corrupti
    deleniti nulla sunt ut nostrum. Voluptas, tempora quia. Dolores accusantium
    non, in nisi sapiente maxime ipsum totam, natus aut cupiditate
    exercitationem! Sint, illum asperiores ea odio doloribus dolore temporibus
    magni dicta rerum odit fuga est ipsum consequuntur quasi at fugiat totam
    debitis nihil. Saepe nisi in animi est vero dicta dolor.
  </p>
</div>

{% endblock content %}
